# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
/target/
.DS_Store

## FireStore Private Key
/src/main/resources/private-key.json
